text {
    font: 10px sans-serif;
}
.node {
    cursor: pointer;
}
.orphan {
    cursor: default;
}
.overlay{
    background-color:#EEE;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font-size:10px; 
    font-family:sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show{
    stroke: none;
    display:block;
}

.ghostCircle.selected{
    stroke: steelblue;
    opacity: 1;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}
